{% extends 'layout/stroe_layout.html' %}
{% block content %}

    <div class="login-register-wrapper pt-40 pb-40">
        <div class="container">
            <div class="member-area-from-wrap">
                <!-- Login Content Start -->

                <div class="login-reg-form-wrap">
                    <h2>Forgot password</h2>
                    <form method="post">
                        {% csrf_token %}

                        <div class="single-input-item">
                            {{ form.as_p }}
                        </div>
                        <div class="single-input-item">
                            <button class="btn btn__bg" type="submit">Submit</button>
                        </div>
                    </form>

                </div>
                <!-- Login Content End -->
            </div>
        </div>
    </div>
{% endblock %}