{% extends 'layout/stroe_layout.html' %}
{% load static %}
{% block content %}
    <!-- main wrapper start -->
    <main>
        <!-- breadcrumb area start -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Home</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'store:shop' %}">shop</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">product details</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->

        <!-- page main wrapper start -->
        <div class="shop-main-wrapper pt-40">
            <div class="container">
                <div class="row">
                    <!-- product details wrapper start -->
                    <div class="col-lg-12 order-1 order-lg-2">
                        <!-- product details inner end -->
                        <div class="product-details-inner">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="product-large-slider">
                                        <div class="pro-large-img">
                                            <img src="{{ object.image.url }}" alt="Not Fount"/>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-7">
                                    <div class="product-details-des">
                                        <h5 class="product-name">{{ object.title }}</h5>

                                        <div class="price-box">
                                            {% if object.is_discount %}
                                                <span class="price-old"><del>{{ object.price_text }}</del></span>
                                                <span class="price-regular">{{ object.discount_price_text }}</span>
                                            {% else %}
                                                <span class="price-regular">{{ object.price_text }}</span>
                                            {% endif %}

                                        </div>
                                        <p>{{ object.description }}</p>
                                        <div class="{{ object.get_availability_color }} mt-10 mb-20">
                                            <i class="ion-checkmark-circled"></i>
                                            <span>{{ object.availability }}</span>
                                        </div>
                                        {% if object.is_available %}
                                            <form action="{% url 'cart:add' %}" method="post" class="form-product-ajax">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ object.id }}" name="product_id">
                                                <div class="quantity-cart-box d-flex align-items-center">
                                                    <div class="quantity">
                                                        <input type="number" value="1"
                                                               name="quantity"
                                                               max="{{ object.maximum }}" min="1" width="100px">

                                                    </div>
                                                    <div class="action_link">
                                                        <button class="buy-btn" type="submit"><i class="ion-bag"></i>Add
                                                            to
                                                            cart
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product details inner end -->
                    </div>
                    <!-- product details wrapper end -->
                </div>
            </div>
        </div>
        <!-- page main wrapper end -->

        <!-- product feature start -->
        <div class="related-product pt-40 pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-header-wrap">
                            <!-- section title start -->
                            <div class="section-title">
                                <h2>related product</h2>
                            </div>
                            <!-- section title end -->

                            <!-- Start Slider Navigation -->
                            <div class="ht-slick-nav slick-append">
                                <button class="prev-four"><i class="ion-ios-arrow-left"></i></button>
                                <button class="next-four right"><i class="ion-ios-arrow-right"></i></button>
                            </div>
                            <!-- End Slider Navigation -->
                        </div>

                        <!-- categories features start -->
                        <div class="categories-features-wrapper">
                            <div class="ht-slick-slider-wrap">
                                <div class="ht-slick-slider slick-row-15"
                                     data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "speed": 1000, "arrows": true, "prevArrow": ".prev-four", "nextArrow": ".next-four", "responsive":[{"breakpoint":992, "settings":{"slidesToShow": 3}}, {"breakpoint":768, "settings":{"slidesToShow": 2}}, {"breakpoint":480, "settings":{"slidesToShow": 1}}]}'>

                                    {% if related %}
                                        {% for product in related %}
                                            <!-- single item start -->
                                            <div class="product-item ">
                                                <div class="product-thumb">
                                                    <a href="{{ product.get_absolute_url }}">
                                                        <img src="{{ product.image.url }}" alt="Not Found">
                                                    </a>
                                                    <div class="add-to-links">
                                                        <form action="{% url 'cart:add' %}" method="post"
                                                              class="form-product-ajax" id="form-id-{{ product.id }}">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="quantity" value="1">
                                                            <input type="hidden" value="{{ product.id }}"
                                                                   name="product_id">
                                                            <a href="javascript:;"
                                                               onclick="return $('#form-id-{{ product.id }}').submit();"
                                                               data-toggle="tooltip"
                                                               title="Add to Cart"><i class="ion-bag"></i></a>
                                                        </form>
                                                        <a href="#" data-toggle="modal"
                                                           data-target="#quick_view"
                                                           onclick="return quick_view({{ product.id }})"><span
                                                                data-toggle="tooltip"
                                                                title="Quick View"><i
                                                                class="ion-ios-eye-outline"></i></span></a>

                                                        {% if request.user.is_authenticated %}
                                                            <form action="{% url 'customer_data:add_to_wish_list_product' %}"
                                                                  method="post"
                                                                  is-wish-list-add="true"
                                                                  class="form-product-ajax"
                                                                  id="form-wish_list-id-{{ product.id }}"
                                                            >
                                                                {% csrf_token %}
                                                                <input type="hidden" value="{{ product.id }}"
                                                                       name="product_id">


                                                                <a href="javascript:;"
                                                                   onclick="return $('#form-wish_list-id-{{ product.id }}').submit();"
                                                                   data-toggle="tooltip"
                                                                   title="Wishlist"><i
                                                                        class="ion-android-favorite-outline"></i></a>
                                                            </form>
                                                        {% else %}
                                                            <a href="{% url 'account:login' %}"
                                                               data-toggle="tooltip"
                                                               title="Wishlist"><i
                                                                    class="ion-android-favorite-outline"></i></a>
                                                        {% endif %}


                                                    </div>

                                                    <div class="product-badge product-badge__2">
                                                        {% include 'component/product-badge.html' with product=product %}
                                                    </div>

                                                </div>

                                                <div class="product-content">
                                                    <div class="product-content">
                                                        <div class="product-name">
                                                            <h5>
                                                                <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                                            </h5>
                                                        </div>

                                                        <div class="price-box">
                                                            {% if product.is_discount %}
                                                                <span class="price-old"><del>{{ product.price_text }}</del></span>
                                                                <span class="price-regular">{{ product.discount_price_text }}</span>
                                                            {% else %}
                                                                <span class="price-regular">{{ product.price_text }}</span>
                                                            {% endif %}

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single item end -->
                                        {% endfor %}
                                    {% endif %}


                                </div>
                            </div>
                        </div>
                        <!-- categories features end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- product feature end -->
    </main>
{% endblock content %}