{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Arunalu.lk | Arunonanda Super Grocery ">
    <meta name="description"
          content="Online Shopping High Quality Grocery in Sri Lanka, CASH ON DELIVERY,  ORDER BY PHONE ONLINE, SUPPORT 24/7">
    <meta name="keywords"
          content="arunalu.lk,Arunonanda super Gregory ,online shop,Gregory,grocery, sri lanka, online shopping,arunalu lk,arunalulk,lk,arunalu lk,arunalu ,Arunonanda, super, Gregory ,online shop,Arunonanda super Gregory,Arunonanda super Gregory online ,Arunonanda super Gregory online shop">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Arunonanda super Gregory">

    <title>Arunonanda super online shop</title>
    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon"/>
    <!-- Google fonts include -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700,800%7CWork+Sans:300,400,500,600,700,800"
          rel="stylesheet">
    <!-- All Vendor & plugins CSS include -->
    <link href='{% static "css/vendor.css" %}' rel="stylesheet">
    <!-- Main Style CSS -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
{#    <script src='{% static "js/html5shiv.min.js" %}'></script>#}
{#    <script src='{% static "js/respond.min.js" %}'></script>#}
    {% block header %} {% endblock %}
</head>
<body>

{% block body %} {% endblock %}

<!-- Js Plugins -->
<script src='{% static "js/jquery-3.3.1.min.js" %}'></script>
<script src='{% static "js/jquery.nice-select.min.js" %}'></script>
<script src='{% static "js/jquery-ui.min.js" %}'></script>
<script src='{% static "js/jquery.ajaxchimp.js" %}'></script>
<script src='{% static "js/slick.js" %}'></script>
<script src='{% static "js/jquery.sticky-sidebar.js" %}'></script>
<script src='{% static "js/jquery.zoom.js" %}'></script>
<script src='{% static "js/jquery.tooltip.js" %}'></script>
<script src='{% static "js/active.js" %}'></script>
<script src='{% static "js/vendor.js" %}'></script>
<script src='{% static "js/script.js" %}'></script>
{% block script %} {% endblock %}
</body>
</html>